Source: ros-lyrical-ackermann-nlmpc-msgs
Section: misc
Priority: optional
Maintainer: Jasper Pflughaupt <j.pflughaupt@uni-luebeck.de>
Build-Depends: debhelper (>= 9.0.0), ros-lyrical-ament-cmake, ros-lyrical-rosidl-default-generators, ros-lyrical-std-msgs, ros-lyrical-ros-workspace, ros-lyrical-rosidl-typesupport-fastrtps-c, ros-lyrical-rosidl-typesupport-fastrtps-cpp
Homepage: https://index.ros.org/p/ackermann_nlmpc_msgs/#lyrical
Standards-Version: 3.9.2

Package: ros-lyrical-ackermann-nlmpc-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-lyrical-rosidl-default-runtime, ros-lyrical-std-msgs, ros-lyrical-ros-workspace
Description: Message definitions for ackermann_nlmpc
